@model ShopThoiTrang.Models.Muser
@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";


}
@{
    List<SelectListItem> status = new List<SelectListItem>();

    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Active" };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Disable" };
    status.Add(statusitem1);
    status.Add(statusitem2);

    List<SelectListItem> gender = new List<SelectListItem>();

    SelectListItem gendertitem1 = new SelectListItem() { Value = "Men", Text = "Men" };
    SelectListItem gendertitem2 = new SelectListItem() { Value = "Women", Text = "Women" };
    gender.Add(gendertitem1);
    gender.Add(gendertitem2);

    List<SelectListItem> listRole = new List<SelectListItem>();
    SelectListItem roleItem;
    foreach (var item in ViewBag.role)
    {
        roleItem = new SelectListItem() { Value = item.parentId + "", Text = item.accessName + "" };
        listRole.Add(roleItem);
    }
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row m-0 bg-light">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Cập nhật người dùng</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Cập nhật người dùng</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


   
    <section class="pt-2 container card">
        @Html.Partial("_MessgeAlert")
        <div class=" bg-white p-4 ">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.created_at)
                @Html.HiddenFor(model => model.address)
                @Html.HiddenFor(model => model.created_by)
                @Html.HiddenFor(model => model.img)
                @Html.HiddenFor(model => model.password)
                @Html.HiddenFor(model => model.created_at)
                @Html.HiddenFor(model => model.created_by)
                <div class=" row ">
                    <div class="col-md-4">  </div>
                    <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> Cập nhật người dùng</h3> </div>
                    <div class="col-md-4 ">
                        <div class="float-right">
                            <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu lại</button>
                            <a href="~/admin/category" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Bỏ qua</a>
                        </div>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-8">
                        <div>
                            <label for="psw"><span class=" ">Tên đầy đủ</span></label>
                            @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class=" ">Tên đăng nhập</span></label>
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            <span class="text-cam">@ViewBag.error1</span>
                        </div>
                        <div>
                            <label for="psw"><span class=" ">Email</span></label>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class=" ">Số điện thoại</span></label>
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { type = "number", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div>
                            <label for="psw"><span class=" ">Giới tính</span></label>
                            @Html.DropDownListFor(model => model.gender, gender, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class=" ">Trạng thái</span></label>
                            @Html.DropDownListFor(model => model.status, status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Quyền</span></label>
                            @Html.DropDownListFor(model => model.access, listRole, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.access, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            }
        </div>
    </section>
    <script>
        $("#user").addClass("active");
    </script>
    </div>