@model ShopThoiTrang.Models.Mpost;
@{

    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<main id="main" class="">

    <div id="content" class="blog-wrapper blog-single page-wrapper">


        <div class="row row-large row-divided ">

            <div class="large-9 col">



                <article id="post-1626" class="post-1626 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                    <div class="article-inner ">
                        <header class="entry-header">
                            <div class="entry-header-text entry-header-text-top text-center">
                                <h6 class="entry-category is-xsmall">
                                    <a href="../tin-tuc/index.html" rel="category tag">Tin tức</a>
                                </h6>

                                <h1 class="entry-title">Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh</h1>
                                <div class="entry-divider is-divider small"></div>

                                <div class="entry-meta uppercase is-xsmall">
                                    <span class="posted-on">Posted on <a href="index.html" rel="bookmark"><time class="entry-date published" datetime="2021-10-17T14:04:27+07:00">17/10/2021</time><time class="updated" datetime="2021-10-17T15:18:33+07:00">17/10/2021</time></a></span><span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="../tac-gia/dilyspetshop/index.html">Tuan Anh</a></span></span>
                                </div>
                            </div>
                            <div class="entry-image relative">
                                <a href="index.html">
                                    <img width="600" height="365" src="~/Public/images/Post" alt="thuc-an-cho-cho-me-moi-sinh" loading="lazy" title="Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh 1">
                                </a>
                                <div class="badge absolute top post-date badge-outline">
                                    <div class="badge-inner">
                                        <span class="post-date-day">17</span><br>
                                        <span class="post-date-month is-small">Th10</span>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="entry-content single-page">

                            <div id="toc_container" class="no_bullets"><p class="toc_title">Mục lục</p><ul class="toc_list"><li><a href="#thuc-an-cho-cho-me-moi-sinh-8211-tam-quan-trong-cua-dinh-duong"><span class="toc_number toc_depth_1">1</span>  THỨC ĂN CHO CHÓ MẸ MỚI SINH &#8211; TẦM QUAN TRỌNG CỦA DINH DƯỠNG</a><ul><li><a href="#nhom-thuc-an-cho-cho-me-moi-sinh-can-co-trong-thuc-don"><span class="toc_number toc_depth_2">1.1</span> NHÓM THỨC ĂN CHO CHÓ MẸ MỚI SINH CẦN CÓ TRONG THỰC ĐƠN</a></li><li><a href="#kiem-tra-suc-khoe-thuong-xuyen-cho-cho-me"><span class="toc_number toc_depth_2">1.2</span> KIỂM TRA SỨC KHỎE THƯỜNG XUYÊN CHO CHÓ MẸ</a></li></ul></li></ul></div>
                            <h2><span id="thuc-an-cho-cho-me-moi-sinh-8211-tam-quan-trong-cua-dinh-duong"> THỨC ĂN CHO CHÓ MẸ MỚI SINH &#8211; TẦM QUAN TRỌNG CỦA DINH DƯỠNG</span></h2>
                            <div>Chào bạn, chắc hẳn nếu là một người thích nuôi thú cưng thì việc sinh đẻ với chúng cũng thiêng liêng như của con người mình vậy. Khi những chú chó con dễ thương được sinh ra, điều chúng ta cần làm là chăm sóc cho chú chó mẹ vì sau khi sinh chú chó mẹ sẽ thấy rất mệt mỏi và cần cung cấp đủ lượng dinh dưỡng để nuôi sống bản thân và tạo sữa để cho các chú chó con bú.</div>
                            <div>
                                <figure id="attachment_1109" aria-describedby="caption-attachment-1109" style="width: 600px" class="wp-caption aligncenter"><img loading="lazy" class="size-full wp-image-1109" src="../wp-content/uploads/2021/09/Cho-con-1-thang-tuoi-an-gi.jpg" alt="thuc-an-cho-cho-me-moi-sinh" width="600" height="365" title="Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh 2"><figcaption id="caption-attachment-1109" class="wp-caption-text">cthuc-an-cho-cho-me-moi-sinh</figcaption></figure>
                            </div>
                            <div>Vì những chú chó con mới đẻ bị yếu nên nếu chó mẹ thiếu sữa trong thời gian dài sẽ rất ảnh hưởng đến sức khỏe của chó con. Vậy chúng ta cần chọn những loại thức ăn nào cho chó mẹ để không sợ thiếu sữa cho chó con ? Tất cả sẽ được Dilyspetshop tổng hợp cho các bạn qua bài viết này !</div>
                            <div></div>
                            <h3><span id="nhom-thuc-an-cho-cho-me-moi-sinh-can-co-trong-thuc-don">NHÓM THỨC ĂN CHO CHÓ MẸ MỚI SINH CẦN CÓ TRONG THỰC ĐƠN</span></h3>
                            <div> Để cung cấp đủ dinh dưỡng nuôi cơ thể thì cần cho chó mẹ ăn các dòng thực phẩm nhiều đạm, chát béo, tinh bột và chất xơ. Có thể xem và tham khảo các loại thực phẩm sau :</div>
                            <div></div>
                            <div>– Thức ăn bổ sung đạm: các loại trứng, thịt gà,vịt,lợn,các loại nội tạng,&#8230;</div>
                            <div></div>
                            <div>– Thức ăn bổ sung chất béo : từ các loại mỡ động vật từ gà, vịt, lợn,&#8230;.</div>
                            <div></div>
                            <div>– Thức ăn bổ sung tinh bột : cơm, khoai, &#8230;&#8230;</div>
                            <div></div>
                            <div>– Thức ăn bổ sung chất xơ : từ các loại rau&#8230;</div>
                            <div>
                                <figure id="attachment_1459" aria-describedby="caption-attachment-1459" style="width: 556px" class="wp-caption aligncenter"><img loading="lazy" class="size-medium wp-image-1459" src="../wp-content/uploads/2021/10/0307_pate-meo1-556x400.jpg" alt="thuc-an-cho-cho-me-moi-sinh" width="556" height="400" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/0307_pate-meo1-556x400.jpg 556w, https://dilyspetshop.com/wp-content/uploads/2021/10/0307_pate-meo1.jpg 600w" sizes="(max-width: 556px) 100vw, 556px" title="Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh 3"><figcaption id="caption-attachment-1459" class="wp-caption-text">thuc-an-cho-cho-me-moi-sinh</figcaption></figure>
                            </div>
                            <div></div>
                            <div>– Ngoài ra có thể bổ sung cho chó mẹ bằng các sản phẩm dạng hạt tổng hợp vì trong các sản phẩm ý đủ cung cấp dinh dưỡng cho chó mẹ phụ hồi. Có thể sử dụng dòng sản phẩm đồ ăn cho chó Dog Mania mà Dilyspetshop đang bày bán. Bạn có thể tham khảo các loại sản phẩm <a href="../do-an-cho-cho-dog-mania-dong-do-an-cao-cap/index.html">tại đây</a>  nhé!</div>
                            <div></div>
                            <div>Sau khi đã tổng hợp được các thực phẩm chính cho thực đơn của chó mẹ, thứ ta không thể thiếu là nước uống. Cơ thể của người và các loại động vật, lượng nước chiếm gần tổng thể cơ thể. Vì thế nếu muốn chó mẹ nhiều sữa thì cần cho uống đủ lượng nước nhé các bạn. Nếu có tài chính, bạn có thể mua cho chú cún các loại sữa dinh dưỡng để giúp chú chó phục hồi cơ thể nhanh hơn để có thể tạo ra nhiều sữa cho chó con hơn. Bạn có thể tham khảo các dòng sản phẩm sữa dinh dưỡng cho chó <a href="https://www.petcity.vn/nhung-loai-sua-cho-cho-me-sau-sinh-tot-nhat-hien-nay.html" rel="noopener">tại đây!</a></div>
                            <div></div>
                            <div>CÁC NHÓM THỨC ĂN KHÔNG NÊN CHO CHÓ MẸ ĂN SAU SINH</div>
                            <div>Cũng giống như ở người vậy, ngoài các thực phẩm tốt giúp cơ thể chó mẹ phục hồi nhanh thì cũng có một vài loại thực phẩm không nên cho chúng ăn để tránh gây nguy cơ về sức khỏe. Các loại thực phẩm tránh cho chó mẹ ăn là csc loại đồ chứa cồn, cacao,các loại hành tỏi, hành tây.các loại hoa quả chứa hạt, và các loại đồ ăn có nhiều phẩm màu. Các bạn nên nhớ điều này vì không những ảnh hưởng đến chó mẹ mà còn đến cả đàn chó con nữa vì chó con mới đẻ bị yếu, sức đề kháng còn yếu nên cần lưu ý nhé !</div>
                            <div>THỰC ĐƠN HÀNG NGÀY CHO CHÓ MẸ</div>
                            <div>Sau khi ta đã biết được những thực đơn cần thiết để cho chó mẹ ăn, ta cần <strong>cho chó mẹ ăn</strong> đầy đủ để có thể phục hồi nhanh hơn nhé! Ngoài ra, khi chó mẹ mới sinh cần tiêu thụ một lượng lớn thức thức ăn để có thể nuôi dưỡng cơ thể và sản xuất ra một lượng sữa để cho chó con bú. Theo các chuyên gia, khi chó mẹ sinh thì lượng thức ăn tiêu thu gấp 4 lần so với bình thường nên bạn hãy chuẩn đầy đủ thức ăn cho chó mẹ nhé.</div>
                            <div>Sau khoảng 1 thời gian sau khi chó mẹ sinh đàn con thì các bạn thường thắc mắc mấy ngày chó con mở mắt đúng không ? theo các chuyên gia thì chó con thường cần khoảng 10 đến 16 ngày để có thể nhìn thấy ánh sáng và bắt đầu tập đi. Bạn có thể tìm hiểu các nuôi và chăm sóc chó con mới sinh <a href="../cach-nuoi-cho-con-cho-nguoi-moi-nuoi/index.html">tại đây</a>!</div>
                            <h3><span id="kiem-tra-suc-khoe-thuong-xuyen-cho-cho-me">KIỂM TRA SỨC KHỎE THƯỜNG XUYÊN CHO CHÓ MẸ</span></h3>
                            <div>Ngoài việc phục hồi cho chó me bằng cách cho chó mẹ ăn những thực phẩm dinh dưỡng thì thứ ta cân tiếp theo chính là về sinh cho chó mẹ sau sinh. Sau khi mới sinh đẻ, cơ thể chó mẹ còn dính lại các vệt máu dính trên người chó mẹ và chỗ chó mẹ đẻ. Thứ đầu tiên ta cần dọn chính là tổ của chó mẹ. Ta cần bỏ chó con ra ngoài để chó mẹ đi theo để rửa và thay lại ổ. Ta có thể cho vải hoặc quần áo cũ khô vào chuồng chú cún rồi đặt chó con lên để giữ ấm cho chó con. Tiếp đến là chó mẹ, ta nên dùng nước phọt nhẹ cơ quan sinh sản để bớt máu và chất nhầy để tránh gây nhiễm trùng nhé.</div>
                            <div>
                                <figure id="attachment_1633" aria-describedby="caption-attachment-1633" style="width: 533px" class="wp-caption aligncenter"><img loading="lazy" class="size-medium wp-image-1633" src="../wp-content/uploads/2021/10/phong-kham-thu-y-my-dinh-533x400.jpg" alt="thuc-an-cho-cho-me-moi-sinh" width="533" height="400" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/phong-kham-thu-y-my-dinh-533x400.jpg 533w, https://dilyspetshop.com/wp-content/uploads/2021/10/phong-kham-thu-y-my-dinh-768x576.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/10/phong-kham-thu-y-my-dinh-600x450.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/10/phong-kham-thu-y-my-dinh.jpg 800w" sizes="(max-width: 533px) 100vw, 533px" title="Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh 4"><figcaption id="caption-attachment-1633" class="wp-caption-text">thuc-an-cho-cho-me-moi-sinh</figcaption></figure>
                            </div>
                            <div>Tiếp đến là chúng ta cần đưa chó mẹ đi kiểm tra sức khỏe tổng quát. Hiện nay có rất nhiều cơ sở thú cưng được mở ra bạn có thể đưa chó mẹ đến các cơ sở uy tín để kiểm tra. Khi đến cơ sở thú y, ta cần kiểm tra tuyến vú để xem có tắc, viêm không vì bị viêm vú có thể khiến chó mẹ có tỉ lệ tử vong rất cao nên nhớ đưa cho mẹ đi khám nhé ! Bạn có thể tham khảo các cơ sở khám bệnh cho thú cưng <a href="https://toplist.vn/top-list/phong-kham-thu-y-uy-tin-nhat-tai-ha-noi-9199.htm" rel="noopener">tại đây</a> nhé !</div>
                            <div></div>
                            <div>
                                Đây là những tổng hợp mà Dilyspetshop tổng hợp lại có thể sẽ giúp bạn có thêm một chút kiến thức để có thể chăm sóc chó mẹ tốt hơn. Ngoài ra bạn có thể tham khảo thêm các về cách khắc phục biếng ăn ở chó và các sản phẩm , phụ kiện cho thú cưng tại các link dưới đây nhé :<br />
                                Một số căn bệnh thường gặp ở thú cưng : <a href="../mot-so-can-benh-thuong-gap-o-thu-cung/index.html">https://dilyspetshop.com/mot-so-can-benh-thuong-gap-o-thu-cung</a>
                            </div>
                            <div>Nguyên nhân khiến thú cưng ăn mãi không béo : <a href="../2-nguyen-nhan-khien-thu-cung-an-mai-khong-beo/index.html">https://dilyspetshop.com/2-nguyen-nhan-khien-thu-cung-an-mai-khong-beo/</a></div>
                            <div>Các dòng phụ kiện hottrend cho pet :<a href="../phu-kien/index.html"> https://dilyspetshop.com/phu-kien/</a></div>
                            <div>
<pre class="entry-title"></pre>
                            </div>
                            <div class="aiosrs-rating-wrap" data-schema-id="1111">
                                <div class="aiosrs-star-rating-wrap ">
                                    <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="1"></span>
                                    <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="2"></span>
                                    <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="3"></span>
                                    <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="4"></span>
                                    <span class="aiosrs-star-rating dashicons dashicons-star-filled" data-index="5"></span>
                                </div>
                                <div class="aiosrs-rating-summary-wrap">
                                    <span class="aiosrs-rating">
                                        5/5
                                    </span>
                                    <span class="aiosrs-rating-count">
                                        (1 Review)
                                    </span>
                                </div>
                            </div>


                            <div class="blog-share text-center"><div class="is-divider medium"></div><div class="social-icons share-icons share-row relative"><a href="https://www.facebook.com/sharer.php?u=https://dilyspetshop.com/thuc-an-cho-cho-me-moi-sinh-giup-phuc-hoi-nhanh/" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip facebook" title="Share on Facebook"><i class="icon-facebook"></i></a><a href="https://twitter.com/share?url=https://dilyspetshop.com/thuc-an-cho-cho-me-moi-sinh-giup-phuc-hoi-nhanh/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip twitter" title="Share on Twitter"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=Th%E1%BB%A9c%20%C4%83n%20cho%20ch%C3%B3%20m%E1%BA%B9%20m%E1%BB%9Bi%20sinh%20gi%C3%BAp%20ph%E1%BB%A5c%20h%E1%BB%93i%20nhanh&amp;body=Check%20this%20out:%20https://dilyspetshop.com/thuc-an-cho-cho-me-moi-sinh-giup-phuc-hoi-nhanh/" rel="nofollow" class="icon primary button circle tooltip email" title="Email to a Friend"><i class="icon-envelop"></i></a><a href="https://pinterest.com/pin/create/button/?url=https://dilyspetshop.com/thuc-an-cho-cho-me-moi-sinh-giup-phuc-hoi-nhanh/&amp;media=https://dilyspetshop.com/wp-content/uploads/2021/09/Cho-con-1-thang-tuoi-an-gi.jpg&amp;description=Th%E1%BB%A9c%20%C4%83n%20cho%20ch%C3%B3%20m%E1%BA%B9%20m%E1%BB%9Bi%20sinh%20gi%C3%BAp%20ph%E1%BB%A5c%20h%E1%BB%93i%20nhanh" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip pinterest" title="Pin on Pinterest"><i class="icon-pinterest"></i></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://dilyspetshop.com/thuc-an-cho-cho-me-moi-sinh-giup-phuc-hoi-nhanh/&amp;title=Th%E1%BB%A9c%20%C4%83n%20cho%20ch%C3%B3%20m%E1%BA%B9%20m%E1%BB%9Bi%20sinh%20gi%C3%BAp%20ph%E1%BB%A5c%20h%E1%BB%93i%20nhanh" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip linkedin" title="Share on LinkedIn"><i class="icon-linkedin"></i></a></div></div>
                        </div>

                        <footer class="entry-meta text-center">
                            This entry was posted in <a href="../tin-tuc/index.html" rel="category tag">Tin tức</a>. Bookmark the <a href="index.html" title="Permalink to Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh" rel="bookmark">permalink</a>.
                        </footer>

                        <div class="entry-author author-box">
                            <div class="flex-row align-top">
                                <div class="flex-col mr circle">
                                    <div class="blog-author-image">
                                        <img alt='' src='https://secure.gravatar.com/avatar/e8f670145ca2a6206bf4e05212ce315a?s=90&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/e8f670145ca2a6206bf4e05212ce315a?s=180&#038;d=mm&#038;r=g 2x' class='avatar avatar-90 photo' height='90' width='90' loading='lazy' />
                                    </div>
                                </div>
                                <div class="flex-col flex-grow">
                                    <h5 class="author-name uppercase pt-half">
                                        Tuan Anh
                                    </h5>
                                    <p class="author-desc small"></p>
                                </div>
                            </div>
                        </div>

                        <nav role="navigation" id="nav-below" class="navigation-post">
                            <div class="flex-row next-prev-nav bt bb">
                                <div class="flex-col flex-grow nav-prev text-left">
                                    <div class="nav-previous"><a href="../mot-so-can-benh-thuong-gap-o-thu-cung/index.html" rel="prev"><span class="hide-for-small"><i class="icon-angle-left"></i></span> Một số căn bệnh thường gặp ở thú cưng</a></div>
                                </div>
                                <div class="flex-col flex-grow nav-next text-right">
                                </div>
                            </div>

                        </nav>

                    </div>
                </article>




                <div id="comments" class="comments-area">




                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Trả lời <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Hủy</a></small></h3><form action="https://dilyspetshop.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                            <p class="comment-notes"><span id="email-notes">Email của bạn sẽ không được hiển thị công khai.</span> Các trường bắt buộc được đánh dấu <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Bình luận</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Tên <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' /></p>
                            <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' /></p>
                            <p class="comment-form-url"><label for="url">Trang web</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
                            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.</label></p>
                            <p class="form-submit">
                                <input name="submit" type="submit" id="submit" class="submit" value="Phản hồi" /> <input type='hidden' name='comment_post_ID' value='1626' id='comment_post_ID' />
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                            </p>
                        </form>
                    </div><!-- #respond -->

                </div>
            </div>
            <div class="post-sidebar large-3 col">
                <div id="secondary" class="widget-area " role="complementary">
                    <aside id="flatsome_recent_posts-17" class="widget flatsome_recent_posts">
                        <span class="widget-title "><span>Các bài viết khác</span></span><div class="is-divider small"></div>		<ul>

                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">17</span><br>
                                                <span class="post-date-month is-xsmall">Th10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-col flex-grow">
                                        <a href="index.html" title="Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh">Thức ăn cho chó mẹ mới sinh giúp phục hồi nhanh</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="index.html#respond"></a></span>
                                    </div>
                                </div>
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">14</span><br>
                                                <span class="post-date-month is-xsmall">Th10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-col flex-grow">
                                        <a href="../mot-so-can-benh-thuong-gap-o-thu-cung/index.html" title="Một số căn bệnh thường gặp ở thú cưng">Một số căn bệnh thường gặp ở thú cưng</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="../mot-so-can-benh-thuong-gap-o-thu-cung/index.html#comments"><strong>3</strong> Comments</a></span>
                                    </div>
                                </div>
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">12</span><br>
                                                <span class="post-date-month is-xsmall">Th10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-col flex-grow">
                                        <a href="../tu-lam-pate-cho-meo-sieu-don-gian/index.html" title="Tự làm pate cho mèo siêu đơn giản">Tự làm pate cho mèo siêu đơn giản</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="../tu-lam-pate-cho-meo-sieu-don-gian/index.html#respond"></a></span>
                                    </div>
                                </div>
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">12</span><br>
                                                <span class="post-date-month is-xsmall">Th10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-col flex-grow">
                                        <a href="../co-nen-nhot-meo-trong-chuong1363-2/index.html" title="Có nên nhốt mèo trong chuồng – bí quyết nuôi mèo cho người mới nuôi">Có nên nhốt mèo trong chuồng – bí quyết nuôi mèo cho người mới nuôi</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="../co-nen-nhot-meo-trong-chuong1363-2/index.html#respond"></a></span>
                                    </div>
                                </div>
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">12</span><br>
                                                <span class="post-date-month is-xsmall">Th10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-col flex-grow">
                                        <a href="../loai-hat-minino-cho-meo-co-tot-khong/index.html" title="Loại hạt minino cho mèo có tốt không?">Loại hạt minino cho mèo có tốt không?</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="../loai-hat-minino-cho-meo-co-tot-khong/index.html#respond"></a></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </aside><aside id="recent-comments-5" class="widget widget_recent_comments"><span class="widget-title "><span>Phản hồi gần đây</span></span><div class="is-divider small"></div><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link">Duy Khánh</span> trong <a href="../vong-co-dinh-vi-cho-meo-thiet-bi-thong-minh/index.html#comment-25">Vòng cổ định vị cho mèo &#8211; Thiết bị theo dõi thông minh</a></li><li class="recentcomments"><span class="comment-author-link"><a href="../index.html" rel="external nofollow ugc" class="url">Lan Hương</a></span> trong <a href="../vong-co-dinh-vi-cho-meo-thiet-bi-thong-minh/index.html#comment-24">Vòng cổ định vị cho mèo &#8211; Thiết bị theo dõi thông minh</a></li><li class="recentcomments"><span class="comment-author-link">Thu</span> trong <a href="../top-5-mon-do-choi-cho-meo-ban-nen-sam-ngay/index.html#comment-22">Top 5 món đồ chơi cho mèo bạn nên sắm ngay</a></li><li class="recentcomments"><span class="comment-author-link">Bảo Anh</span> trong <a href="../2-cach-lam-do-choi-cho-meo-tu-vat-dung-don-gian/index.html#comment-21">2 cách làm đồ chơi cho mèo từ vật dụng đơn giản</a></li><li class="recentcomments"><span class="comment-author-link">Min</span> trong <a href="../2-cach-lam-do-choi-cho-meo-tu-vat-dung-don-gian/index.html#comment-20">2 cách làm đồ chơi cho mèo từ vật dụng đơn giản</a></li></ul></aside><aside id="tag_cloud-9" class="widget widget_tag_cloud">
                        <span class="widget-title "><span>Thẻ Tag</span></span><div class="is-divider small"></div><div class="tagcloud">
                            <a href="../tag/thucung/index.html" class="tag-cloud-link tag-link-256 tag-link-position-1" style="font-size: 14.3pt;" aria-label="#thucung (2 mục)">#thucung</a>
                            <a href="../tag/boss/index.html" class="tag-cloud-link tag-link-168 tag-link-position-2" style="font-size: 22pt;" aria-label="boss (4 mục)">boss</a>
                            <a href="../tag/cach-lam-do-choi/index.html" class="tag-cloud-link tag-link-162 tag-link-position-3" style="font-size: 8pt;" aria-label="cach lam do choi (1 mục)">cach lam do choi</a>
                            <a href="../tag/cho-meo-an-gi/index.html" class="tag-cloud-link tag-link-151 tag-link-position-4" style="font-size: 8pt;" aria-label="Cho mèo ăn gì (1 mục)">Cho mèo ăn gì</a>
                            <a href="../tag/cho-con-keu/index.html" class="tag-cloud-link tag-link-179 tag-link-position-5" style="font-size: 8pt;" aria-label="chó con kêu (1 mục)">chó con kêu</a>
                            <a href="../tag/cho-con-an/index.html" class="tag-cloud-link tag-link-177 tag-link-position-6" style="font-size: 8pt;" aria-label="chó con ăn (1 mục)">chó con ăn</a>
                            <a href="../tag/cho-khong-beo-duoc/index.html" class="tag-cloud-link tag-link-119 tag-link-position-7" style="font-size: 8pt;" aria-label="chó không béo được (1 mục)">chó không béo được</a>
                            <a href="../tag/cach-lam-chuong-cho-bang-go/index.html" class="tag-cloud-link tag-link-146 tag-link-position-8" style="font-size: 8pt;" aria-label="cách làm chuồng chó bằng gỗ (1 mục)">cách làm chuồng chó bằng gỗ</a>
                            <a href="../tag/cach-lam-chuong-cho-bang-sat/index.html" class="tag-cloud-link tag-link-147 tag-link-position-9" style="font-size: 8pt;" aria-label="cách làm chuồng chó bằng sắt (1 mục)">cách làm chuồng chó bằng sắt</a>
                            <a href="../tag/cach-nuoi-cho-con/index.html" class="tag-cloud-link tag-link-178 tag-link-position-10" style="font-size: 8pt;" aria-label="cách nuôi chó con (1 mục)">cách nuôi chó con</a>
                            <a href="../tag/cach-deo-day-dat-cho/index.html" class="tag-cloud-link tag-link-141 tag-link-position-11" style="font-size: 8pt;" aria-label="cách đeo dây dắt chó (1 mục)">cách đeo dây dắt chó</a>
                            <a href="../tag/cach-deo-day-yem-cho-cho/index.html" class="tag-cloud-link tag-link-142 tag-link-position-12" style="font-size: 8pt;" aria-label="cách đeo dây yếm cho chó (1 mục)">cách đeo dây yếm cho chó</a>
                            <a href="../tag/co-nen-nhot-cho-khong/index.html" class="tag-cloud-link tag-link-169 tag-link-position-13" style="font-size: 8pt;" aria-label="có nên nhốt chó không (1 mục)">có nên nhốt chó không</a>
                            <a href="../tag/dinh-duong/index.html" class="tag-cloud-link tag-link-159 tag-link-position-14" style="font-size: 8pt;" aria-label="dinh duong (1 mục)">dinh duong</a>
                            <a href="../tag/do-choi-cho-cho-phu-hop/index.html" class="tag-cloud-link tag-link-156 tag-link-position-15" style="font-size: 8pt;" aria-label="do choi cho chó phu hop (1 mục)">do choi cho chó phu hop</a>
                            <a href="../tag/gio-mom-cho/index.html" class="tag-cloud-link tag-link-143 tag-link-position-16" style="font-size: 8pt;" aria-label="giọ mõm chó (1 mục)">giọ mõm chó</a>
                            <a href="../tag/hat-catsrang/index.html" class="tag-cloud-link tag-link-139 tag-link-position-17" style="font-size: 8pt;" aria-label="Hạt Catsrang (1 mục)">Hạt Catsrang</a>
                            <a href="../tag/hat-catsrang-5kg/index.html" class="tag-cloud-link tag-link-138 tag-link-position-18" style="font-size: 8pt;" aria-label="Hạt Catsrang 5kg (1 mục)">Hạt Catsrang 5kg</a>
                            <a href="../tag/hat-kho-cho-meo/index.html" class="tag-cloud-link tag-link-149 tag-link-position-19" style="font-size: 8pt;" aria-label="Hạt khô cho mèo (1 mục)">Hạt khô cho mèo</a>
                            <a href="../tag/lam-do-choi-cho-cho/index.html" class="tag-cloud-link tag-link-163 tag-link-position-20" style="font-size: 8pt;" aria-label="làm đồ chơi cho chó (1 mục)">làm đồ chơi cho chó</a>
                            <a href="../tag/may-ao-cho-cho/index.html" class="tag-cloud-link tag-link-145 tag-link-position-21" style="font-size: 8pt;" aria-label="may áo cho chó (1 mục)">may áo cho chó</a>
                            <a href="../tag/may-ao-cho-cho-tu-ao-cu/index.html" class="tag-cloud-link tag-link-144 tag-link-position-22" style="font-size: 8pt;" aria-label="May áo cho chó từ áo cũ (1 mục)">May áo cho chó từ áo cũ</a>
                            <a href="../tag/mua-chuong-cho-o-dau/index.html" class="tag-cloud-link tag-link-170 tag-link-position-23" style="font-size: 8pt;" aria-label="mua chuồng chó ở đâu (1 mục)">mua chuồng chó ở đâu</a>
                            <a href="../tag/mui-vi/index.html" class="tag-cloud-link tag-link-158 tag-link-position-24" style="font-size: 8pt;" aria-label="mui vi (1 mục)">mui vi</a>
                            <a href="../tag/meo/index.html" class="tag-cloud-link tag-link-166 tag-link-position-25" style="font-size: 8pt;" aria-label="mèo (1 mục)">mèo</a>
                            <a href="../tag/moc-ao-len-cho-thu-cung/index.html" class="tag-cloud-link tag-link-176 tag-link-position-26" style="font-size: 8pt;" aria-label="móc áo len cho thú cưng (1 mục)">móc áo len cho thú cưng</a>
                            <a href="../tag/nen-cho-meo-an-hat-gi/index.html" class="tag-cloud-link tag-link-137 tag-link-position-27" style="font-size: 8pt;" aria-label="Nên cho mèo ăn hạt gì? (1 mục)">Nên cho mèo ăn hạt gì?</a>
                            <a href="../tag/quan-ao-cho-thu-cung/index.html" class="tag-cloud-link tag-link-140 tag-link-position-28" style="font-size: 14.3pt;" aria-label="quần áo cho thú cưng (2 mục)">quần áo cho thú cưng</a>
                            <a href="../tag/review-sua-tam/index.html" class="tag-cloud-link tag-link-115 tag-link-position-29" style="font-size: 8pt;" aria-label="review sữa tắm (1 mục)">review sữa tắm</a>
                            <a href="../tag/sua-tam/index.html" class="tag-cloud-link tag-link-167 tag-link-position-30" style="font-size: 14.3pt;" aria-label="sữa tắm (2 mục)">sữa tắm</a>
                            <a href="../tag/sua-tam-cho-cho/index.html" class="tag-cloud-link tag-link-113 tag-link-position-31" style="font-size: 14.3pt;" aria-label="sữa tắm cho chó (2 mục)">sữa tắm cho chó</a>
                            <a href="../tag/sua-tam-sos/index.html" class="tag-cloud-link tag-link-116 tag-link-position-32" style="font-size: 14.3pt;" aria-label="sữa tắm SOS (2 mục)">sữa tắm SOS</a>
                            <a href="../tag/sua-tam-yu/index.html" class="tag-cloud-link tag-link-117 tag-link-position-33" style="font-size: 8pt;" aria-label="sữa tắm YÚ (1 mục)">sữa tắm YÚ</a>
                            <a href="../tag/thong-minh/index.html" class="tag-cloud-link tag-link-164 tag-link-position-34" style="font-size: 8pt;" aria-label="thông minh (1 mục)">thông minh</a>
                            <a href="../tag/thu-cung-an-mai-khong-beo/index.html" class="tag-cloud-link tag-link-118 tag-link-position-35" style="font-size: 8pt;" aria-label="thú cưng ăn mãi không béo (1 mục)">thú cưng ăn mãi không béo</a>
                            <a href="../tag/thuc-an-cho-meo/index.html" class="tag-cloud-link tag-link-150 tag-link-position-36" style="font-size: 14.3pt;" aria-label="Thức ăn cho mèo (2 mục)">Thức ăn cho mèo</a>
                            <a href="../tag/thuc-an-hat-cho-meo/index.html" class="tag-cloud-link tag-link-152 tag-link-position-37" style="font-size: 8pt;" aria-label="Thức ăn hạt cho mèo (1 mục)">Thức ăn hạt cho mèo</a>
                            <a href="../tag/thuc-an-kho/index.html" class="tag-cloud-link tag-link-153 tag-link-position-38" style="font-size: 8pt;" aria-label="Thức ăn khô (1 mục)">Thức ăn khô</a>
                            <a href="../tag/tam-cho-cho-bang-sua-tam-nguoi-duoc-khong/index.html" class="tag-cloud-link tag-link-114 tag-link-position-39" style="font-size: 8pt;" aria-label="tắm cho chó bằng sữa tắm người được không (1 mục)">tắm cho chó bằng sữa tắm người được không</a>
                            <a href="../tag/tu-lam-chuong-cho-don-gian/index.html" class="tag-cloud-link tag-link-148 tag-link-position-40" style="font-size: 8pt;" aria-label="tự làm chuồng chó đơn giản (1 mục)">tự làm chuồng chó đơn giản</a>
                            <a href="../tag/tu-lam-sua-tam-cho-meo/index.html" class="tag-cloud-link tag-link-165 tag-link-position-41" style="font-size: 8pt;" aria-label="tự làm sữa tắm cho mèo (1 mục)">tự làm sữa tắm cho mèo</a>
                            <a href="../tag/vong-co-cho-cho/index.html" class="tag-cloud-link tag-link-173 tag-link-position-42" style="font-size: 8pt;" aria-label="vòng cổ cho chó (1 mục)">vòng cổ cho chó</a>
                            <a href="../tag/xuong-cho-cho/index.html" class="tag-cloud-link tag-link-155 tag-link-position-43" style="font-size: 8pt;" aria-label="Xương cho chó (1 mục)">Xương cho chó</a>
                            <a href="../tag/do-an-dinh-duong/index.html" class="tag-cloud-link tag-link-154 tag-link-position-44" style="font-size: 8pt;" aria-label="Đồ ăn dinh dưỡng (1 mục)">Đồ ăn dinh dưỡng</a>
                            <a href="../tag/do-choi/index.html" class="tag-cloud-link tag-link-157 tag-link-position-45" style="font-size: 14.3pt;" aria-label="đồ chơi (2 mục)">đồ chơi</a>
                        </div>
                    </aside><aside id="archives-7" class="widget widget_archive">
                        <span class="widget-title "><span>Lưu trữ</span></span><div class="is-divider small"></div>
                        <ul>
                            <li><a href='../2021/10/index.html'>Tháng Mười 2021</a>&nbsp;(20)</li>
                            <li><a href='../2021/09/index.html'>Tháng Chín 2021</a>&nbsp;(8)</li>
                        </ul>

                    </aside>
                </div>
            </div>
        </div>

    </div>


    <script nitro-exclude>
        var heartbeatData = new FormData(); heartbeatData.append('nitroHeartbeat', '1');
        fetch(location.href, { method: 'POST', body: heartbeatData, credentials: 'omit' });
    </script>
    <script nitro-exclude>
        document.cookie = 'nitroCachedPage=' + (!window.NITROPACK_STATE ? '0' : '1') + '; path=/';
    </script>
</main>



@*<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="index.html">Trang chủ</a>
                    </li>
                    <li class="active">Bài viết </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Blog-area pt-100 pb-100">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="ml-20">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="blog-wrap-2 mb-30">
                                        <div class="blog-img-2">
                                            <a href="@item.slug"><img src="~/Public/images/Post/@item.img" alt=""></a>
                                        </div>
                                        <div class="blog-content-2">
                                            <div class="blog-meta-2">
                                                <ul>
                                                    <li>22 April, 2018</li>
                                                    <li><a href="#">4 <i class="fa fa-comments-o"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4><a href="@item.slug">@item.title</a></h4>
                                            <p>@item.descriptionShort</p>
                                            <div class="blog-share-comment">
                                                <div class="blog-btn-2">
                                                    <a href="@item.slug">Đọc thêm</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                        <div class="pro-pagination-style text-center mt-30">

                            <ul>
                                <li>  <a href="~/@ViewBag.url?page=1" class="prev">prev</a></li>
                                <li>
                                    @{
                                        var firstPage = 1;
                                        if ((int)Model.PageNumber > 1)
                                        {
                                            firstPage = (int)Model.PageNumber - 1;
                                        }

                                        var lastpage = Model.PageNumber;
                                        if (lastpage < Model.PageCount)
                                        {
                                            lastpage = (int)Model.PageNumber + 1;
                                        }

                                    }
                                    <a href="~/@ViewBag.url?page=@firstPage" class="prev"><i class="fa fa-angle-double-left"></i></a>

                                </li>

                                @for (int i = Model.PageNumber; i <= Model.PageCount; i++)
                                {

                                    if (i < Model.PageNumber + 5)
                                    {
                                        <li> <a id="active_@i" href="~/@ViewBag.url?page=@i">@i  </a> </li>
                                    }

                                }
                                <li>
                                    <a href="~/@ViewBag.url?page=@lastpage" class="next"><i class="fa fa-angle-double-right"></i></a>
                                </li>
                                <li>
                                    <a href="~/@ViewBag.url?page=@lastpage" class="next">Next</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-style">
                        <div class="sidebar-widget">
                            <h4 class="pro-sidebar-title">Tìm kiếm </h4>
                            <div class="pro-sidebar-search mb-55 mt-25">
                                <form class="pro-sidebar-search-form" action="#">
                                    <input type="text" placeholder="Tìm kiếm bài viết ...">
                                    <button>
                                        <i class="pe-7s-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget border p-2" style="width: 267px;height: 222px;">
                            <h4 class="pro-sidebar-title bg-black" style="color: white; height: 41px; text-align: left; margin: -8px -8px 0px; padding: 8px; ">Bài viết mới nhất</h4>

                            <div class="sidebar-project-wrap mt-30">

                                @foreach (var item in Model)
                                {
                                    string title = item.title;
                                    <div class="single-sidebar-blog">
                                        <div class="sidebar-blog-img">
                                            <a href="#"><img src="~/Public/images/Post/@item.img" alt=""></a>
                                        </div>
                                        <div class="sidebar-blog-content ">

                                            @if (title.Length > 20)
                                            {
                                                <h4 class="m-0"><a href="@item.slug">@title.Substring(0, 15) ...</a></h4>
                                            }
                                            else
                                            {
                                                <h4><a href="@item.slug">@item.title</a></h4>
                                            }
                                            <span>Bài viết</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="sidebar-widget mt-35 border">
                            <h4 class="pro-sidebar-title  p-2 bg-black" style="border-bottom: 2px #424242 solid; color: white; text-align: left;"> Product catalog  </h4>
                            <div class="sidebar-widget-list mt-20 ">
                                @Html.Action("_category", "Modules")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
