@model ShopThoiTrang.Models.Product
@using ShopThoiTrang.Models;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_layoutSite.cshtml";

    // 
    var category = (Mcategory)ViewBag.viewBagCategoryByProductDeteil != null ? (Mcategory)ViewBag.viewBagCategoryByProductDeteil : null;
}
<main id="main" class="">
    <div class="shop-container">
        <div class="container">
            <div class="woocommerce-notices-wrapper"></div>
        </div>
        <div id="product-1483" class="product type-product post-1483 status-publish first instock product_cat-quan-ao product_tag-ao-mua-cho-cho has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">

                <div class="product-main">
                    <div class="row content-row mb-0">

                        <div class="product-gallery col large-6">

                            <div class="product-images relative mb-half has-hover woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4">

                                <div class="badge-container is-larger absolute left top z-1">
                                    <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">@Model.pricesale %</span></div></div>
                                </div>
                                <div class="image-tools absolute top show-on-hover right z-3">
                                    <div class="wishlist-icon">
                                        <button class="wishlist-button button is-outline circle icon" aria-label="Wishlist">
                                            <i class="icon-heart"></i>
                                        </button>
                                        <div class="wishlist-popup dark">

                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1483  wishlist-fragment on-first-load"
                                                 data-fragment-ref="1483"
                                                 data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:1483,&quot;parent_product_id&quot;:1483,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;s\u1ea3n ph\u1ea9m \u0111\u00e3 \u0111\u01b0\u1ee3c th\u00eam&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                <!-- ADD TO WISHLIST -->

                                                <div class="yith-wcwl-add-button">
                                                    <a href="index1176.html?add_to_wishlist=1483&amp;_wpnonce=53025a881c"
                                                       class="add_to_wishlist single_add_to_wishlist button alt"
                                                       data-product-id="1483"
                                                       data-product-type="simple"
                                                       data-original-product-id="1483"
                                                       data-title="Thêm vào yêu thích"
                                                       rel="nofollow">
                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>		<span>Thêm vào yêu thích</span>
                                                    </a>
                                                </div>

                                                <!-- COUNT TEXT -->

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <figure class="woocommerce-product-gallery__wrapper product-gallery-slider slider slider-nav-small mb-half"
                                        data-flickity-options='{
                "cellAlign": "center",
                "wrapAround": true,
                "autoPlay": false,
                "prevNextButtons":true,
                "adaptiveHeight": true,
                "imagesLoaded": true,
                "lazyLoad": 1,
                "dragThreshold" : 15,
                "pageDots": false,
                "rightToLeft": false       }'>
                                    <div data-thumb="/public/images/product/@Model.img" class="woocommerce-product-gallery__image slide first"><a href="../wp-content/uploads/2021/10/ao-mua-cho-cho-ha-noi-2.jpg"><img width="320" height="320" src="/public/images/product/@Model.img" class="wp-post-image skip-lazy" alt="áo mưa cho chó" loading="lazy" title="ao-mua-cho-cho" data-caption="áo mưa cho chó" data-src="/public/images/product/@Model.img" data-large_image="/public/images/product/@Model.img" data-large_image_width="320" data-large_image_height="320" srcset="/public/images/product/@Model.img 320w,/public/images/product/@Model.img  280w, /public/images/product/@Model.img 300w, /public/images/product/@Model.img 100w" sizes="(max-width: 320px) 100vw, 320px" /></a></div>
                                </figure>

                                <div class="image-tools absolute bottom left z-3">
                                    <a href="#product-zoom" class="zoom-button button is-outline circle icon tooltip hide-for-small" title="Zoom">
                                        <i class="icon-expand"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="product-info summary col-fit col entry-summary product-summary">
                            <nav class="woocommerce-breadcrumb breadcrumbs uppercase"><a href="../index.html">Trang chủ</a> <span class="divider">&#47;</span> <a href="../san-pham/index.html">Sản Phẩm</a> <span class="divider">&#47;</span> <a href="../quan-ao/index.html">@category.name</a></nav><h1 class="product-title product_title entry-title">
                                @Model.name
                            </h1>

                            <div class="is-divider small"></div>
                            <ul class="next-prev-thumbs is-small show-for-medium">
                                <li class="prod-dropdown has-dropdown">
                                    <a href="../1593/index.html" rel="next" class="button icon is-outline circle">
                                        <i class="icon-angle-left"></i>
                                    </a>
                                    <div class="nav-dropdown">
                                        <a title="áo cho mèo" href="../1593/index.html">
                                            <img width="100" height="100" src="../wp-content/uploads/2021/10/ao-cho-meo-100x100.jpg" class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail wp-post-image" alt="áo cho mèo" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo.jpg 500w" sizes="(max-width: 100px) 100vw, 100px" title="áo cho mèo 1">
                                        </a>
                                    </div>
                                </li>
                                <li class="prod-dropdown has-dropdown">
                                    <a href="../vay-cho-cho-poodle/index.html" rel="next" class="button icon is-outline circle">
                                        <i class="icon-angle-right"></i>
                                    </a>
                                    <div class="nav-dropdown">
                                        <a title="váy cho chó poodle" href="../vay-cho-cho-poodle/index.html">
                                            <img width="100" height="100" src="../wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-100x100.jpg" class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail wp-post-image" alt="váy cho chó poodle gắn nơ lớn" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-768x768.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-600x600.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1.jpg 800w" sizes="(max-width: 100px) 100vw, 100px" title="váy cho chó poodle 2">
                                        </a>
                                    </div>
                                </li>
                            </ul><div class="price-wrapper">
                                <p class="price product-page-price price-on-sale">
                                    <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>@Model.price&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>100.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></ins>
                                </p>
                            </div>
                            <p class="stock in-stock">còn @Model.number hàng</p>


                            <form class="cart" action="https://dilyspetshop.com/ao-mua-cho-cho/" method="post" enctype='multipart/form-data'>
                                <button type="submit" name="wsb-buy-now" value="1483" class="wsb-button js-wsb-add-to-cart">Mua ngay</button>

                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus button is-form">				<label class="screen-reader-text" for="quantity_61dec823352b9">áo mưa cho chó số lượng</label>
                                    <input type="number"
                                           id="quantity_61dec823352b9"
                                           class="input-text qty text"
                                           step="1"
                                           min="1"
                                           max="9"
                                           name="quantity"
                                           value="1"
                                           title="SL"
                                           size="4"
                                           placeholder=""
                                           inputmode="numeric" />
                                    <input type="button" value="+" class="plus button is-form">
                                </div>

                                <button type="submit" name="add-to-cart" value="1483" class="single_add_to_cart_button button alt">Thêm vào giỏ hàng</button>

                            </form>


                            <div class="product_meta">



                                <span class="posted_in">Danh mục: <a href="../quan-ao/index.html" rel="tag">@category.name</a></span>
                                <span class="tagged_as">Từ khóa: <a href="../tu-khoa-san-pham/ao-mua-cho-cho/index.html" rel="tag">@Model.slug</a></span>

                            </div>
                            <div class="social-icons share-icons share-row relative">
                            <a href="https://www.facebook.com/sharer.php?u=https://dilyspetshop.com/ao-mua-cho-cho/" data-label="Facebook"
                               onclick="window.open(this.href, this.title, 'width=500,height=500,top=300px,left=300px');
                        return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip facebook" title="Share on Facebook"><i class="icon-facebook"></i></a><a href="https://twitter.com/share?url=https://dilyspetshop.com/ao-mua-cho-cho/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip twitter" title="Share on Twitter"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=%C3%A1o%20m%C6%B0a%20cho%20ch%C3%B3&amp;body=Check%20this%20out:%20https://dilyspetshop.com/ao-mua-cho-cho/" rel="nofollow" class="icon primary button circle tooltip email" title="Email to a Friend"><i class="icon-envelop"></i></a><a href="https://pinterest.com/pin/create/button/?url=https://dilyspetshop.com/ao-mua-cho-cho/&amp;media=https://dilyspetshop.com/wp-content/uploads/2021/10/ao-mua-cho-cho-ha-noi-2.jpg&amp;description=%C3%A1o%20m%C6%B0a%20cho%20ch%C3%B3" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip pinterest" title="Pin on Pinterest"><i class="icon-pinterest"></i></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://dilyspetshop.com/ao-mua-cho-cho/&amp;title=%C3%A1o%20m%C6%B0a%20cho%20ch%C3%B3" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip linkedin" title="Share on LinkedIn"><i class="icon-linkedin"></i></a></div>
                        </div>


                        <div id="product-sidebar" class="col large-2 hide-for-medium product-sidebar-small">
                            <div class="hide-for-off-canvas" style="width:100%">
                                <ul class="next-prev-thumbs is-small nav-right text-right">
                                    <li class="prod-dropdown has-dropdown">
                                        <a href="../1593/index.html" rel="next" class="button icon is-outline circle">
                                            <i class="icon-angle-left"></i>
                                        </a>
                                        <div class="nav-dropdown">
                                            <a title="áo cho mèo" href="../1593/index.html">
                                                <img width="100" height="100" src="../wp-content/uploads/2021/10/ao-cho-meo-100x100.jpg" class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail wp-post-image" alt="áo cho mèo" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo.jpg 500w" sizes="(max-width: 100px) 100vw, 100px" title="áo cho mèo 3">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="prod-dropdown has-dropdown">
                                        <a href="../vay-cho-cho-poodle/index.html" rel="next" class="button icon is-outline circle">
                                            <i class="icon-angle-right"></i>
                                        </a>
                                        <div class="nav-dropdown">
                                            <a title="váy cho chó poodle" href="../vay-cho-cho-poodle/index.html">
                                                <img width="100" height="100" src="../wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-100x100.jpg" class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail wp-post-image" alt="váy cho chó poodle gắn nơ lớn" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-768x768.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-600x600.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1.jpg 800w" sizes="(max-width: 100px) 100vw, 100px" title="váy cho chó poodle 4">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="product-footer">
                    <div class="container">

                        <div class="woocommerce-tabs wc-tabs-wrapper container tabbed-content">
                            <ul class="tabs wc-tabs product-tabs small-nav-collapse nav nav-uppercase nav-line nav-left" role="tablist">
                                <li class="description_tab active" id="tab-title-description" role="tab" aria-controls="tab-description">
                                    <a href="#tab-description">
                                        Mô tả
                                    </a>
                                </li>
                                <li class="additional_information_tab " id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
                                    <a href="#tab-additional_information">
                                        Thông tin bổ sung
                                    </a>
                                </li>
                                <li class="reviews_tab " id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                    <a href="#tab-reviews">
                                        Đánh giá (0)
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-panels">
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

                                    @Html.Raw(Model.detail)
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content " id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">


                                    <table class="woocommerce-product-attributes shop_attributes">
                                        <tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pa_size">
                                            <th class="woocommerce-product-attributes-item__label">Size</th>
                                            <td class="woocommerce-product-attributes-item__value">
                                                <p>Size L, Size M, Size S</p>
                                            </td>
                                        </tr>
                                        <tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--attribute_pa_mau-sac">
                                            <th class="woocommerce-product-attributes-item__label">Màu sắc</th>
                                            <td class="woocommerce-product-attributes-item__value">
                                                <p>cá mập hồng, cá mập xám, cá mập xanh, dâu đỏ, dâu hồng, dâu xanh, Đen, Đỏ, hình sao màu xanh, hình viên gạch màu nâu, Hồng phấn, Vàng, Xám, Xanh dương, Xanh rêu</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content " id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                                    <div id="reviews" class="woocommerce-Reviews row">
                                        <div id="comments" class="col large-12">
                                            <h3 class="woocommerce-Reviews-title normal">
                                                Đánh giá
                                            </h3>

                                            <p class="woocommerce-noreviews">Chưa có đánh giá nào.</p>
                                        </div>

                                        <div id="review_form_wrapper" class="large-12 col">
                                            <div id="review_form" class="col-inner">
                                                <div class="review-form-inner has-border">
                                                    <div id="respond" class="comment-respond">
                                                        <h3 id="reply-title" class="comment-reply-title">Hãy là người đầu tiên nhận xét &ldquo;áo mưa cho chó&rdquo; <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Hủy</a></small></h3><form action="https://dilyspetshop.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                                            <div class="comment-form-rating">
                                                                <label for="rating">Đánh giá của bạn&nbsp;<span class="required">*</span></label><select name="rating" id="rating" required>
                                                                    <option value="">Xếp hạng&hellip;</option>
                                                                    <option value="5">Rất tốt</option>
                                                                    <option value="4">Tốt</option>
                                                                    <option value="3">Trung bình</option>
                                                                    <option value="2">Không tệ</option>
                                                                    <option value="1">Rất tệ</option>
                                                                </select>
                                                            </div><p class="comment-form-comment"><label for="comment">Nhận xét của bạn&nbsp;<span class="required">*</span></label><textarea id="comment" name="comment" cols="45" rows="8" required></textarea></p><p class="comment-form-author"><label for="author">Tên&nbsp;<span class="required">*</span></label><input id="author" name="author" type="text" value="" size="30" required /></p>
                                                            <p class="comment-form-email"><label for="email">Email&nbsp;<span class="required">*</span></label><input id="email" name="email" type="email" value="" size="30" required /></p>
                                                            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Lưu tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.</label></p>
                                                            <p class="form-submit">
                                                                <input name="submit" type="submit" id="submit" class="submit" value="Gửi đi" /> <input type='hidden' name='comment_post_ID' value='1483' id='comment_post_ID' />
                                                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                            </p>
                                                        </form>
                                                    </div><!-- #respond -->
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="related related-products-wrapper product-section">

                            <h3 class="product-section-title container-width product-section-title-related pt-half pb-half uppercase">
                                Sản phẩm tương tự
                            </h3>




                            <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-reveal slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>



                                @foreach (var item in (List<Product>)ViewBag.productByCategory)
                                {

                                <div class="product-small col has-hover product type-product post-618 status-publish instock product_cat-quan-ao has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">

                                        <div class="badge-container absolute left top z-1">
                                        </div>
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-fade_in_back">
                                                    <a href="@Url.Action("Detail", "ProductOfCustomer", new {id=item.ID})">
                                                        <img width="300" height="300" src="/public/images/product/@item.img" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="quần áo cho thú cưng" loading="lazy" srcset="/public/images/product/@item.img 300w,
                                                             /public/images/product/@item.img 280w, /public/images/product/@item.img 100w" sizes="(max-width: 300px) 100vw, 300px" />
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover">
                                                    <div class="wishlist-icon">
                                                        <button class="wishlist-button button is-outline circle icon" aria-label="Wishlist">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="wishlist-popup dark">

                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-618  wishlist-fragment on-first-load"
                                                                 data-fragment-ref="618"
                                                                 data-fragment-options="{&quot;base_url&    quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:618,&quot;parent_product_id&quot;:618,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;s\u1ea3n ph\u1ea9m \u0111\u00e3 \u0111\u01b0\u1ee3c th\u00eam&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                                <!-- ADD TO WISHLIST -->

                                                                <div class="yith-wcwl-add-button">
                                                                    <a href="indexe680.html?add_to_wishlist=618&amp;_wpnonce=53025a881c"
                                                                       class="add_to_wishlist single_add_to_wishlist button alt"
                                                                       data-product-id="618"
                                                                       data-product-type="simple"
                                                                       data-original-product-id="618"
                                                                       data-title="Thêm vào yêu thích"
                                                                       rel="nofollow">
                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>		<span>Thêm vào yêu thích</span>
                                                                    </a>
                                                                </div>

                                                                <!-- COUNT TEXT -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                                </div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                    <a class="quick-view" data-prod="618" href="#quick-view">Quick View</a>
                                                </div>
                                            </div>

                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="category uppercase is-smaller no-text-overflow product-cat op-7">
                                                        @category.name
                                                    </p>
                                                    <p class="name product-title woocommerce-loop-product__title"><a href="../quan-ao-cho-thu-cung-hoat-tiet-khung-long/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@item.name</a></p>
                                                </div><div class="price-wrapper">
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi>@item.price&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></span>
                                                </div><div class="add-to-cart-button"><a href="index974f.html?add-to-cart=618" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-outline" data-product_id="618" data-product_sku="" aria-label="Thêm &ldquo;Quần Áo Cho Thú Hoạt Tiết Khủng Long&rdquo; vào giỏ hàng" rel="nofollow">Thêm vào giỏ hàng</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                }

                                <!--<div class="product-small col has-hover product type-product post-1358 status-publish instock product_cat-quan-ao product_tag-ao-cho-cho-phoc-soc product_tag-quan-ao-cho-cho-phoc-soc has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">

                                        <div class="badge-container absolute left top z-1">
                                            <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-5%</span></div></div>
                                        </div>
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-fade_in_back">
                                                    <a href="../quan-ao-cho-cho-phoc-soc/index.html">
                                                        <img width="300" height="300" src="../wp-content/uploads/2021/10/quan-ao-cho-cho-Phoc-Soc-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="Quần áo cho chó Phốc Sóc" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-cho-Phoc-Soc-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-cho-Phoc-Soc-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-cho-Phoc-Soc-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-cho-Phoc-Soc-600x600.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-cho-Phoc-Soc-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-cho-Phoc-Soc.jpg 670w" sizes="(max-width: 300px) 100vw, 300px" />
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover">
                                                    <div class="wishlist-icon">
                                                        <button class="wishlist-button button is-outline circle icon" aria-label="Wishlist">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="wishlist-popup dark">

                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1358  wishlist-fragment on-first-load"
                                                                 data-fragment-ref="1358"
                                                                 data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:1358,&quot;parent_product_id&quot;:1358,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;s\u1ea3n ph\u1ea9m \u0111\u00e3 \u0111\u01b0\u1ee3c th\u00eam&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">
                                                                <div class="yith-wcwl-add-button">
                                                                    <a href="indexb022.html?add_to_wishlist=1358&amp;_wpnonce=53025a881c"
                                                                       class="add_to_wishlist single_add_to_wishlist button alt"
                                                                       data-product-id="1358"
                                                                       data-product-type="simple"
                                                                       data-original-product-id="1358"
                                                                       data-title="Thêm vào yêu thích"
                                                                       rel="nofollow">
                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>		<span>Thêm vào yêu thích</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                                </div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                    <a class="quick-view" data-prod="1358" href="#quick-view">Quick View</a>
                                                </div>
                                            </div>

                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="category uppercase is-smaller no-text-overflow product-cat op-7">
                                                        Quần áo
                                                    </p>
                                                    <p class="name product-title woocommerce-loop-product__title"><a href="../quan-ao-cho-cho-phoc-soc/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">Quần áo cho chó Phốc Sóc</a></p>
                                                </div><div class="price-wrapper">
                                                    <span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>100.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>95.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></ins></span>
                                                </div><div class="add-to-cart-button"><a href="index7a69.html?add-to-cart=1358" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-outline" data-product_id="1358" data-product_sku="h2" aria-label="Thêm &ldquo;Quần áo cho chó Phốc Sóc&rdquo; vào giỏ hàng" rel="nofollow">Thêm vào giỏ hàng</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-small col has-hover product type-product post-1464 status-publish last instock product_cat-quan-ao product_tag-ao-cho-chuot-hamster product_tag-quan-ao-cho-chuot-hamster has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">

                                        <div class="badge-container absolute left top z-1">
                                            <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-10%</span></div></div>
                                        </div>
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-fade_in_back">
                                                    <a href="../quan-ao-cho-chuot-hamster/index.html">
                                                        <img width="300" height="300" src="../wp-content/uploads/2021/10/quan-ao-cho-chuot-hamster.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="quần áo cho chuột hamster" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-chuot-hamster.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-chuot-hamster-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/quan-ao-cho-chuot-hamster-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" />
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover">
                                                    <div class="wishlist-icon">
                                                        <button class="wishlist-button button is-outline circle icon" aria-label="Wishlist">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="wishlist-popup dark">
                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1464  wishlist-fragment on-first-load"
                                                                 data-fragment-ref="1464"
                                                                 data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:1464,&quot;parent_product_id&quot;:1464,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;s\u1ea3n ph\u1ea9m \u0111\u00e3 \u0111\u01b0\u1ee3c th\u00eam&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">
                                                                <div class="yith-wcwl-add-button">
                                                                    <a href="index6691.html?add_to_wishlist=1464&amp;_wpnonce=53025a881c"
                                                                       class="add_to_wishlist single_add_to_wishlist button alt"
                                                                       data-product-id="1464"
                                                                       data-product-type="simple"
                                                                       data-original-product-id="1464"
                                                                       data-title="Thêm vào yêu thích"
                                                                       rel="nofollow">
                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>		<span>Thêm vào yêu thích</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                                </div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                    <a class="quick-view" data-prod="1464" href="#quick-view">Quick View</a>
                                                </div>
                                            </div>

                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="category uppercase is-smaller no-text-overflow product-cat op-7">
                                                        Quần áo
                                                    </p>
                                                    <p class="name product-title woocommerce-loop-product__title"><a href="../quan-ao-cho-chuot-hamster/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">quần áo cho chuột hamster</a></p>
                                                </div><div class="price-wrapper">
                                                    <span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>50.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>45.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></ins></span>
                                                </div><div class="add-to-cart-button"><a href="index5474.html?add-to-cart=1464" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-outline" data-product_id="1464" data-product_sku="" aria-label="Thêm &ldquo;quần áo cho chuột hamster&rdquo; vào giỏ hàng" rel="nofollow">Thêm vào giỏ hàng</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="product-small col has-hover product type-product post-1471 status-publish first instock product_cat-quan-ao product_tag-vay-cho-cho-poodle has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">

                                        <div class="badge-container absolute left top z-1">
                                            <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-7%</span></div></div>
                                        </div>
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-fade_in_back">
                                                    <a href="../vay-cho-cho-poodle/index.html">
                                                        <img width="300" height="300" src="../wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="váy cho chó poodle gắn nơ lớn" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-768x768.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-600x600.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/vay-cho-cho-poodle-no-lon1.jpg 800w" sizes="(max-width: 300px) 100vw, 300px" /><img width="300" height="300" src="../wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-300x300.jpg" class="show-on-hover absolute fill hide-for-small back-image" alt="váy công chúa cho chó poodle" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-800x800.jpg 800w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-768x768.jpg 768w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-1536x1536.jpg 1536w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-600x600.jpg 600w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/04069d59da0b368f65f33767074d0093.jpg 1600w" sizes="(max-width: 300px) 100vw, 300px" />
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover">
                                                    <div class="wishlist-icon">
                                                        <button class="wishlist-button button is-outline circle icon" aria-label="Wishlist">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="wishlist-popup dark">

                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1471  wishlist-fragment on-first-load"
                                                                 data-fragment-ref="1471"
                                                                 data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:1471,&quot;parent_product_id&quot;:1471,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;s\u1ea3n ph\u1ea9m \u0111\u00e3 \u0111\u01b0\u1ee3c th\u00eam&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">-->

                                                                <!-- ADD TO WISHLIST -->

                                                                <!--<div class="yith-wcwl-add-button">
                                                                    <a href="indexb9b3.html?add_to_wishlist=1471&amp;_wpnonce=53025a881c"
                                                                       class="add_to_wishlist single_add_to_wishlist button alt"
                                                                       data-product-id="1471"
                                                                       data-product-type="simple"
                                                                       data-original-product-id="1471"
                                                                       data-title="Thêm vào yêu thích"
                                                                       rel="nofollow">
                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>		<span>Thêm vào yêu thích</span>
                                                                    </a>
                                                                </div>-->

                                                                <!-- COUNT TEXT -->

                                                            <!--</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                                </div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                    <a class="quick-view" data-prod="1471" href="#quick-view">Quick View</a>
                                                </div>
                                            </div>

                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="category uppercase is-smaller no-text-overflow product-cat op-7">Quần áo</p>
                                                    <p class="name product-title woocommerce-loop-product__title"><a href="../vay-cho-cho-poodle/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">váy cho chó poodle</a></p>
                                                </div><div class="price-wrapper">
                                                    <span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>75.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>70.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></ins></span>
                                                </div><div class="add-to-cart-button"><a href="index544a.html?add-to-cart=1471" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-outline" data-product_id="1471" data-product_sku="h9" aria-label="Thêm &ldquo;váy cho chó poodle&rdquo; vào giỏ hàng" rel="nofollow">Thêm vào giỏ hàng</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-small col has-hover product type-product post-1593 status-publish instock product_cat-quan-ao product_tag-ao-cho-meo has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">

                                        <div class="badge-container absolute left top z-1">
                                            <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-10%</span></div></div>
                                        </div>
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-fade_in_back">
                                                    <a href="../1593/index.html">
                                                        <img width="300" height="300" src="../wp-content/uploads/2021/10/ao-cho-meo-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="áo cho mèo" loading="lazy" srcset="https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-300x300.jpg 300w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-400x400.jpg 400w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-280x280.jpg 280w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo-100x100.jpg 100w, https://dilyspetshop.com/wp-content/uploads/2021/10/ao-cho-meo.jpg 500w" sizes="(max-width: 300px) 100vw, 300px" />
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover">
                                                    <div class="wishlist-icon">
                                                        <button class="wishlist-button button is-outline circle icon" aria-label="Wishlist">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="wishlist-popup dark">

                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1593  wishlist-fragment on-first-load"
                                                                 data-fragment-ref="1593"
                                                                 data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:1593,&quot;parent_product_id&quot;:1593,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;s\u1ea3n ph\u1ea9m \u0111\u00e3 \u0111\u01b0\u1ee3c th\u00eam&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">-->

                                                                <!-- ADD TO WISHLIST -->

                                                                <!--<div class="yith-wcwl-add-button">
                                                                    <a href="index5d80.html?add_to_wishlist=1593&amp;_wpnonce=53025a881c"
                                                                       class="add_to_wishlist single_add_to_wishlist button alt"
                                                                       data-product-id="1593"
                                                                       data-product-type="simple"
                                                                       data-original-product-id="1593"
                                                                       data-title="Thêm vào yêu thích"
                                                                       rel="nofollow">
                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i>		<span>Thêm vào yêu thích</span>
                                                                    </a>
                                                                </div>-->

                                                                <!-- COUNT TEXT -->

                                                            <!--</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                                </div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                    <a class="quick-view" data-prod="1593" href="#quick-view">Quick View</a>
                                                </div>
                                            </div>

                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="category uppercase is-smaller no-text-overflow product-cat op-7">
                                                        Quần áo
                                                    </p>
                                                    <p class="name product-title woocommerce-loop-product__title"><a href="../1593/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">áo cho mèo</a></p>
                                                </div><div class="price-wrapper">
                                                    <span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi>100.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi>90.000&nbsp;<span class="woocommerce-Price-currencySymbol">VND</span></bdi></span></ins></span>
                                                </div><div class="add-to-cart-button"><a href="index5aba.html?add-to-cart=1593" data-quantity="1" class="primary is-small mb-0 button product_type_simple add_to_cart_button ajax_add_to_cart is-outline" data-product_id="1593" data-product_sku="" aria-label="Thêm &ldquo;áo cho mèo&rdquo; vào giỏ hàng" rel="nofollow">Thêm vào giỏ hàng</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                           
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

